            /* hero banner */
            /*color variables*/
            /* Police d'écriture par défaut*/
            /* font-family: 'Nunito Sans',
            sans-serif;
            @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap'); */
            /* Police d'écriture des titres*/
            /* Couleur de fond de l'introduction
            Background-color:#9D96B8;
            
            // Couleur de fond des journalistes un sur deux
            // première Bleu foncé
            Background-color:#3E5C76
            // deuxième Bleu plus clair
            Background-color:#6681A3
            
            // Couleur de fond du Gouvernement un sur deux
            // première Rouge Bordeaux
            Background-color:#7A0200
            // deuxième rouge Pastel
            Background-color:#FF5F5C*/
            /* edit the navbar */
            /* width */
            
             ::-webkit-scrollbar {
                width: 10px;
            }
            /* Track */
            
             ::-webkit-scrollbar-track {
                background: var(--color-white);
            }
            /* Handle */
            
             ::-webkit-scrollbar-thumb {
                background: var(--color-intro);
                border-radius: 5px;
            }
            /* Handle on hover */
            
             ::-webkit-scrollbar-thumb:hover {
                background: var(--color-intro);
            }
            
             :root {
                --color-intro: #cfcfcf;
                --color-j_fonce: #3E5C76;
                --color-j_clair: #6681A3;
                --color-c_fonce: #7A0200;
                --color-c_clair: #FF5F5C;
                --color-white: #F7F3F5;
                background-color: var(--color-white);
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
            * {
                /*remove default browser styles*/
                font-family: 'Nunito Sans', sans-serif;
                margin: 0;
                padding: 0;
                font-size: 25px;
                color: var(--color-white);
            }
            
            .title {
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
            }
            
            header {
                position: sticky;
                top: 0;
                z-index: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: var(--color-white);
                border-bottom: black solid 1px;
            }
            
            header img {
                height: 50px;
                background-color: var(--color-white);
            }
            
            .tabulation {
                padding: 0 0 0 40px;
            }
            
            .header-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;
                background-color: #fff;
                flex-direction: row;
                background-color: var(--color-white);
                color: black;
            }
            
            .header-title {
                display: flex;
                align-items: center;
            }
            
            .header-title span {
                margin: 0;
                padding: 0;
                color: black;
            }
            
            .hero-banner {
                position: static;
                height: 100vh;
                width: 100%;
                position: relative;
                overflow: hidden;
            }
            
            .hero-banner__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                z-index: 1;
            }
            
            .hero-banner__content {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translate(-100%, -100%);
                background-color: rgba(0, 0, 0, 0.249);
                padding: 0.5rem;
            }
            
            .hero-banner__content h1 {
                font-size: 45px;
            }
            
            .introduction {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 50px;
                padding-top: 70px;
                width: 100%;
                font-size: 3vh;
                text-align: justify;
                background-color: var(--color-white);
            }
            
            .introduction__text {
                width: 70%;
                text-align: justify;
                font-size: 1.2rem;
                background-color: var(--color-white);
                color: var(--color-j_fonce);
            }
            
            .introduction__title {
                font-size: 2rem;
                font-weight: bold;
                padding-bottom: 20px;
                color: var(--color-j_fonce);
            }
            
            .contenu {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .contenu__item {
                width: 85%;
                border-radius: 10px;
                display: flex;
                height: 400px;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
                margin-bottom: 20px;
            }
            
            .contenu__content img {
                width: 300px;
                height: 300px;
            }
            
            .contenu__content p {
                padding: 0 15px;
            }
            
            .contenu__content {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            
            .journalistes {
                background-color: var(--color-j_fonce);
                display: flex;
            }
            
            .bandeau_boutons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: auto;
                padding: 20px;
                background-color: var(--color-intro);
                margin: 10px 0;
                border-radius: 10px;
            }
            
            .journalistes:nth-child(2n) {
                background-color: var(--color-j_clair);
            }
            
            .journalistes:nth-child(2n+1) {
                background-color: var(--color-j_fonce);
            }
            
            .gouvernement {
                background-color: var(--color-c_fonce);
                display: none;
            }
            
            .gouvernement:nth-child(2n) {
                background-color: var(--color-c_clair);
            }
            
            .gouvernement:nth-child(2n+1) {
                background-color: var(--color-c_fonce);
            }
            
            .contenu__item:nth-child(2n) .contenu__content {
                flex-direction: row-reverse;
            }
            
            .inactive {
                display: none;
            }
            
            .active {
                display: flex;
            }
            
            button {
                background-color: var(--color-j_fonce);
                color: var(--color-white);
                border: none;
                padding: 10px;
                border-radius: 10px;
                font-size: 1.2rem;
                margin: 10px;
                cursor: pointer;
            }
            
            button:hover {
                background-color: var(--color-j_clair);
            }
            
            button:nth-child(1) {
                background-color: var(--color-c_fonce);
            }
            
            button:nth-child(1):hover {
                background-color: var(--color-c_clair);
            }