            /* hero banner */
            /*color variables*/
            
            * {
                /*remove default browser styles*/
                margin: 0;
                padding: 0;
                font-family: 'Roboto', sans-serif;
            }
            
            header {
                position: sticky;
                top: 0;
                z-index: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: #fff;
            }
            
            header img {
                height: 50px;
            }
            
            .tabulation {
                padding: 0 0 0 40px;
            }
            
            .header-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;
                background-color: #fff;
                border-bottom: 1px solid #e5e5e5;
                flex-direction: row;
            }
            
            .hero-banner {
                position: static;
                height: 100vh;
                width: 100%;
                position: relative;
                overflow: hidden;
            }
            
            .hero-banner__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                z-index: 1;
            }
            
            .hero-banner__content {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translate(-50%, -50%);
            }
            
            .introduction {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 3rem auto;
                width: 70%;
                font-size: 3vh;
                text-align: justify;
            }
            
            .introduction__title {
                font-size: 2rem;
                font-weight: bold;
                padding-bottom: 20px;
            }
            
            .contenu {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .contenu__item {
                display: flex;
                height: 400px;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
            }
            
            .contenu__item:nth-child(1) {
                background-color: blue;
            }
            
            .contenu__item:nth-child(2) {
                background-color: red;
            }
            
            .contenu__item:nth-child(3) {
                background-color: green;
            }